<%= simple_form_for(@quiz) do |q| %>
  <%= q.error_notification %>

  <div class="form-inputs">
    <%= q.input :title %>
    <%= q.input :created_by %>
  </div>

  <%= q.simple_fields_for :questions do |question_form_1| %>
    <div class='form-inputs'>
      <%= question_form_1.input :question_text %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= q.button :submit %>
  </div>
<% end %>
